<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.takeout.modules.order.mapper.OrdersMapper">

    <resultMap id="OrdersDTOMap" type="com.example.takeout.modules.common.dto.OrdersDTO">
        <id column="ordersId" property="id"></id>
        <result column="status" property="status"></result>
        <result column="user_id" property="userId"></result>
        <result column="address_id" property="addressId"></result>
        <result column="order_time" property="orderTime"></result>
        <result column="pay_time" property="payTime"></result>
        <result column="pay_method" property="payMethod"></result>
        <result column="total" property="amount"></result>
        <result column="remark" property="remark"></result>
        <result column="phone" property="phone"></result>
        <result column="address" property="address"></result>
        <result column="receiver" property="receiver"></result>
        <collection property="orderDetails"
                    ofType="com.example.takeout.modules.order.entity.OrderDetail">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="order_id" property="orderId"></result>
            <result column="dishes_id" property="dishesId"></result>
            <result column="set_meal_id" property="setMealId"></result>
            <result column="dishes_flavor" property="dishesFlavor"></result>
            <result column="amount" property="amount"></result>
            <result column="number" property="number"></result>
            <result column="imageUrl" property="imageUrl"></result>
        </collection>
    </resultMap>

    <select id="getLastOrder" resultMap="OrdersDTOMap">
        SELECT
            t1.id AS ordersId,
            t1.status,
            t1.user_id,
            t1.address_id,
            t1.order_time,
            t1.pay_time,
            t1.pay_method,
            t1.amount AS total,
            t1.remark,
            t1.phone,
            t1.address,
            t1.receiver,
            t2.id,
            t2.name,
            t2.order_id,
            t2.dishes_id,
            t2.set_meal_id,
            t2.dishes_flavor,
            t2.amount,
            t2.number,
            t2.image_url
        FROM
            orders AS t1
            LEFT JOIN order_detail AS t2 ON t1.id = t2.order_id
        <where>
            <if test="userId != null and userId != ''">
                t1.user_id = #{userId}
            </if>
        </where>
        ORDER BY
            t1.order_time DESC
    </select>

    <select id="listOrders" resultMap="OrdersDTOMap">
        SELECT
            t1.id AS ordersId,
            t1.status,
            t1.user_id,
            t1.address_id,
            t1.order_time,
            t1.pay_time,
            t1.pay_method,
            t1.amount AS total,
            t1.remark,
            t1.phone,
            t1.address,
            t1.receiver,
            t2.id,
            t2.name,
            t2.order_id,
            t2.dishes_id,
            t2.set_meal_id,
            t2.dishes_flavor,
            t2.amount,
            t2.number,
            t2.image_url
        FROM
            orders AS t1
            LEFT JOIN order_detail AS t2 ON t1.id = t2.order_id
        <where>
            <if test="userId != null and userId != ''">
                t1.user_id = #{userId}
            </if>
        </where>
        ORDER BY
            t1.order_time DESC
    </select>

</mapper>
