<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.takeout.modules.setMeal.mapper.SetMealMapper">

    <resultMap id="setMealDTO" type="com.example.takeout.modules.common.dto.SetMealDTO">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="category_name" property="categoryName"></result>
        <result column="price" property="price"></result>
        <result column="image_url" property="imageUrl"></result>
        <result column="description" property="description"></result>
        <result column="status" property="status"></result>
        <result column="sort" property="sort"></result>
        <result column="code" property="code"></result>
        <collection property="setMealDishesList" ofType="com.example.takeout.modules.setMeal.entity.SetMealDishes">
            <result column="set_meal_dishes_id" property="id"></result>
            <result column="set_meal_id" property="setMealId"></result>
            <result column="dishes_id" property="dishesId"></result>
            <result column="dishes_name" property="dishesName"></result>
            <result column="dishes_price" property="dishesPrice"></result>
            <result column="dishes_count" property="dishesCount"></result>
        </collection>
    </resultMap>

    <!-- 分页查询套餐信息 -->
    <select id="list" resultType="com.example.takeout.modules.common.dto.SetMealDTO">
        SELECT
            t1.id,
            t1.name,
            t1.category_id,
            t1.price,
            t1.image_url,
            t1.description,
            t1.status,
            t1.sort,
            t1.is_delete,
            t1.update_time,
            t2.name AS categoryName
        FROM
            set_meal AS t1
            LEFT JOIN category AS t2 ON t1.category_id = t2.id
        <where>
            is_delete != 1
            <if test="setMeal.name != null and setMeal.name != ''">
                AND t1.name LIKE CONCAT('%', #{setMeal.name}, '%')
            </if>
        </where>
        ORDER BY
            t1.update_time DESC
    </select>

    <!-- 根据id获取菜品信息 -->
    <select id="querySetMealById" resultMap="setMealDTO">
        SELECT
            t1.id,
            t1.name,
            t1.category_id,
            t1.price,
            t1.image_url,
            t1.description,
            t1.status,
            t1.sort,
            t1.code,
            t2.name AS category_name,
            t3.id AS set_meal_dishes_id,
            t3.set_meal_id AS set_meal_id,
            t3.dishes_id AS dishes_id,
            t3.dishes_name AS dishes_name,
            t3.dishes_price AS dishes_price,
            t3.dishes_count AS dishes_count
        FROM
            set_meal AS t1
            LEFT JOIN category AS t2 ON t1.category_id = t2.id
            LEFT JOIN set_meal_dishes AS t3 ON t1.id = t3.set_meal_id
        WHERE
            t1.id = #{id}
    </select>

    <!-- 批量修改菜品售卖状态 -->
    <select id="batchStatus">
        UPDATE
            set_meal
        SET
            status = #{status}
        <where>
            <if test="ids != null and ids != ''">
                <foreach collection="ids.split(',')" separator="," open="id IN (" close=")" item="id" index="index">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 批量删除菜品 -->
    <select id="batchDelete">
        UPDATE
            set_meal
        SET
            is_delete = 1
        <where>
            <if test="ids != null and ids != ''">
                <foreach collection="ids.split(',')" separator="," open="id IN (" close=")" item="id" index="index">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据条件查询套餐集合 -->
    <select id="listSetMeal" resultMap="setMealDTO">
        SELECT
            t1.id,
            t1.name,
            t1.category_id,
            t1.price,
            t1.image_url,
            t1.description,
            t1.status,
            t1.sort,
            t1.code,
            t2.name AS category_name,
            t3.id AS set_meal_dishes_id,
            t3.set_meal_id AS set_meal_id,
            t3.dishes_id AS dishes_id,
            t3.dishes_name AS dishes_name,
            t3.dishes_price AS dishes_price,
            t3.dishes_count AS dishes_count
        FROM
            set_meal AS t1
            LEFT JOIN category AS t2 ON t1.category_id = t2.id
            LEFT JOIN set_meal_dishes AS t3 ON t1.id = t3.set_meal_id
        <where>
            t1.status = 1
            <if test="setMeal.categoryId != null and setMeal.categoryId != ''">
                AND t1.category_id = #{setMeal.categoryId}
            </if>
        </where>
    </select>

</mapper>
